// TODO: make variadic, just have to check emptylist in a loop
function add
    push argument
    car
    push argument
    cdr
    car
    add
    // NOTE: primitives are prefixed with 010
    push constant 8191  // 0x1fff
    and
    push constant 16384 // 0x4000
    or
    return

function sub
    push argument
    car
    push argument
    cdr
    car
    sub
    // NOTE: primitives are prefixed with 010
    push constant 8191  // 0x1fff
    and
    push constant 16384 // 0x4000
    or
    return

function gt
    push argument
    car
    push argument
    cdr
    car
    gt
    return

function begin
label beginloop
    push argument
    cdr
    is-emptylist
    if-goto beginend
    push argument
    cdr
    pop argument
    goto beginloop
label beginend
    push argument
    car
    return

function write
    push argument
    car
    write
    push constant 0
    return

// (eval env e)
function eval
    push argument
    call eval.eval
    return

function apply
    push argument
    car
    is-builtin
    if-goto callbuiltin
// label userdefined
    push constant 0
    // remove mask
    push argument
    car
    push constant 8191  // 0x1fff
    and
    pop local 0
    // zip f.params with args
    // TODO: for now, assume length of both = 1
    push local 0
    cdr
    car                 // f.params
    car
    push argument
    cdr
    car
    car
    cons
    push local 0
    // cons on top of f.env -> newenv
    car                 // f.env
    cons
    // call eval.eval of newenv and f.body
    push local 0
    cdr
    cdr
    car                 // f.body
    push constant 8192  // 0x2000 = emptylist
    cons
    cons
    call eval.eval
    return
label callbuiltin
    push argument
    cdr
    car
    push argument
    car
    call-builtin
    return

// (map f list ...)
// TODO: variadic function taking multiple lists
// TODO: returns a list when f returns NIL, but should just return NIL
// or maybe nvm? scheme returns a list of #<void> elements
function map
    push constant 0     // prepare local 0 = f
    push constant 0     // prepare local 1 = args
    push constant 0     // prepare local 2 = numargs
    push argument
    car
    pop local 0
    push argument
    cdr
    car
    pop local 1
label maprec
    push local 1
    is-emptylist
    if-goto endmaprec
    push local 2
    push constant 1
    add
    pop local 2         // numargs++
    push environment
    push local 0
    push local 1
    car
    push constant 8192  // 0x2000 = emptylist
    cons
    cons                // (f arg)
    push constant 8192  // 0x2000 = emptylist
    cons
    cons                // (env (f arg))
    call eval.eval      // TODO: call builtin.apply, without needing env?
    push local 1
    cdr
    pop local 1
    goto maprec
label endmaprec
    push constant 8192  // 0x2000 = emptylist
label consloop
    push constant 0
    push local 2
    eq
    if-goto mapend
    cons
    push local 2
    push constant 1
    sub
    pop local 2
    goto consloop
label mapend
    return
