function main
    push environment
    push constant 16426 // primitive(42)
    push constant 8192  // 0x2000 = emptylist
    cons
    cons
    call eval.eval
    write               // expect 0x402a

    push environment
    push constant 24578 // symbol(2) representing 'x', bound to primitive(7) in ENV
    push constant 8192  // 0x2000 = emptylist
    cons
    cons
    call eval.eval
    write               // expect 0x4007

    push environment
    push constant 24581 // symbol(5) representing '+', bound to builtin(add) in ENV
    push constant 24578 // symbol(2) representing 'x', bound to primitive(7) in ENV
    push constant 16419 // primitive(35)
    push constant 8192  // 0x2000 = emptylist
    cons
    cons
    cons
    push constant 8192  // 0x2000 = emptylist
    cons
    cons
    call eval.eval
    write               // expect 0x402a

    push environment
    push constant 24582 // symbol(6) representing '-', bound to builtin(sub) in ENV
    push constant 16419 // primitive(35)
    push constant 24578 // symbol(2) representing 'x', bound to primitive(7) in ENV
    push constant 8192  // 0x2000 = emptylist
    cons
    cons
    cons
    push constant 8192  // 0x2000 = emptylist
    cons
    cons
    call eval.eval
    write               // expect 0x401c

    push constant 0 // void return
    return
