function main
	push environment
	push constant 24581
	push constant 24577
	push constant 24587
	push constant 16391
	push constant 8192
	cons
	cons
	cons
	push constant 24577
	push constant 24588
	push constant 16392
	push constant 8192
	cons
	cons
	cons
	push constant 24577
	push constant 24589
	push constant 16393
	push constant 8192
	cons
	cons
	cons
	push constant 8192
	cons
	cons
	cons
	cons
	push constant 8192
	cons
	cons
	call eval.eval
	write
	push environment
	push constant 24578
	push constant 16426
	push constant 8192
	cons
	cons
	push constant 8192
	cons
	cons
	call eval.eval
	write
	push environment
	push constant 24581
	push constant 24587
	push constant 24588
	push constant 24589
	push constant 8192
	cons
	cons
	cons
	cons
	push constant 8192
	cons
	cons
	call eval.eval
	write
	push environment
	push constant 24578
	push constant 24589
	push constant 8192
	cons
	cons
	push constant 8192
	cons
	cons
	call eval.eval
	write
	push environment
	push constant 24577
	push constant 24590
	push constant 24580
	push constant 24587
	push constant 8192
	cons
	push constant 24587
	push constant 8192
	cons
	cons
	cons
	push constant 8192
	cons
	cons
	cons
	push constant 8192
	cons
	cons
	call eval.eval
	write
	push environment
	push constant 24590
	push constant 16426
	push constant 8192
	cons
	cons
	push constant 8192
	cons
	cons
	call eval.eval
	write
	push environment
	push constant 24585
	push constant 24590
	push constant 24578
	push constant 16385
	push constant 16386
	push constant 16387
	push constant 8192
	cons
	cons
	cons
	push constant 8192
	cons
	cons
	push constant 8192
	cons
	cons
	cons
	push constant 8192
	cons
	cons
	call eval.eval
	write
	push environment
	push constant 24585
	push constant 24586
	push constant 24578
	push constant 16385
	push constant 16386
	push constant 16387
	push constant 8192
	cons
	cons
	cons
	push constant 8192
	cons
	cons
	push constant 8192
	cons
	cons
	cons
	push constant 8192
	cons
	cons
	call eval.eval
	write
	push environment
	push constant 24576
	push constant 24584
	push constant 16387
	push constant 24587
	push constant 8192
	cons
	cons
	cons
	push constant 24583
	push constant 16385
	push constant 16386
	push constant 8192
	cons
	cons
	cons
	push constant 16426
	push constant 8192
	cons
	cons
	cons
	cons
	push constant 8192
	cons
	cons
	call eval.eval
	write
	push environment
	push constant 24576
	push constant 24584
	push constant 16387
	push constant 24587
	push constant 8192
	cons
	cons
	cons
	push constant 24591
	push constant 16426
	push constant 8192
	cons
	cons
	cons
	cons
	push constant 8192
	cons
	cons
	call eval.eval
	write
	push environment
	push constant 24576
	push constant 24584
	push constant 16387
	push constant 24591
	push constant 8192
	cons
	cons
	cons
	push constant 24583
	push constant 16385
	push constant 16386
	push constant 8192
	cons
	cons
	cons
	push constant 16426
	push constant 8192
	cons
	cons
	cons
	cons
	push constant 8192
	cons
	cons
	call eval.eval
	write
	push constant 0
	return
