// Two more functions are considered part of sys
// but their implementation is given directly in 
// the translator, in assembly code
// These are call and return

function init
    // building the initial environment
    push constant 24576     // symbol(0)
    special 0               // special(if)
    cons
    push constant 24577     // symbol(1)
    special 1               // special(define)
    cons
    push constant 24578     // symbol(2)
    push label builtin.add
    builtin                 // builtin(add)
    cons
    push constant 24579     // symbol(3)
    push label builtin.sub
    builtin                 // builtin(sub)
    cons
    push constant 24580     // symbol(4)
    push label builtin.gt
    builtin                 // builtin(gt)
    cons
    push constant 8192      // 0x2000 = emptylist
    cons
    cons
    cons
    cons
    cons
    pop environment
    push constant 0         // each func HAS to take one arg!
    call main.main
    goto end
